@font-face{
  font-family: Header;
  src: url("dat/fonts/Lovelo-Black.ttf");
}
@media only screen and (min-width: 761px){
  body{
    background-image: url("dat/shinobu.png");
    background-size: 20%;
  }
  main{
    width: 80%;
  }
  .in-block {
    width: 20%;
  }
}
header, .in-block{
  background-color: #e6df97;
}
h1,h2{
  font-family: Header;
}
h3, p, li, .in-block{
  font-family: 'Open Sans';
}
body{
  background-color:#f7f5a2;
  color: #3d2231;
}
a{
  color: #3d2231;
}
.hidden{
  display: none !important;       /* Assegna classe "hidden" per nasconder un oggetto */
}



/******************************************************************************/
body{
  background-repeat: no-repeat;       /**/
  background-attachment: fixed;       /* Valido in ogni formato */
  background-position: bottom right;  /**/
}

a{
  text-decoration: none;              /* Voglio un testo pulito */
  font-weight: bold;                  /* Usa il grassetto per i link*/
  outline: none;                      /* Togli quelle orribili linee di quando passi il mouse */
}

li{
  list-style-type: circle;            /* Formato standard per le liste: cerchio */
}

