@font-face{
  font-family: Header;
  src: url("dat/fonts/Lovelo-Black.ttf");
}
@media only screen and (min-width: 761px){
  body{
    background-image: url("dat/shinobu.png");
  }
}
header, .in-block{
  background-color: #e6df97;
}
h1,h2{
  font-family: Header;
}
h3, p, li, .in-block{
  font-family: 'Open Sans';
}
body{
  background-color:#f7f5a2;
  color: #3d2231;
}
a{
  color: #3d2231;
}
.hidden{
  display: none !important;       /* Assegna classe "hidden" per nasconder un oggetto */
}
