header{
  text-align: center;
  padding: 4px;
}
main{
  margin: 2em;
  margin-top: 0px;
  margin-bottom: 20%;
}
h1{
  margin: 0px;
  font-size: 300%;
}
h2{
  font-size: 200%;
  margin: 0.4em;
}
h3{
  margin-top: 0px;
  font-weight: bold;
  font-size: 120%;
}
main h2{
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-top: 2em;
}
p, li{
  font-size: 100%;
}
li{
  margin-left: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  list-style-type:circle;
}
a{
  text-decoration: none;
  font-weight: bold;
  outline: none;  /*Let's try this one*/
}
body{
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}
.innerImg{
  width: 100%;
  border-radius: 10px;
}
iframe{
  border-radius: 10px;
}
@media only screen and (min-width: 640px){
  body{
    background-repeat: no-repeat;
    background-size: 45%;
    background-attachment: fixed;
    background-position: bottom right;
  }
  main{
    padding-right: 45%;
    margin-bottom: 10%;
  }
  .innerImg{
    width: 70%;
  }
}
@media only screen and (min-width: 768px){
  body{
    background-size: 30%;
  }
}
footer{
  font-size: 0.8em;
}
footer > p{
  margin: 0px;
}
footer a{
  font-weight: normal;
}
.static{
  text-align: center;
}
.contacts{
  margin-left: 15px;
  margin-right: 15px;
}
.contact_icon{
  width: 30px;
}
.credits{
  text-decoration: underline;
}
.hidden{
  display: none !important;
}
